<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Web App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container-sm">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Categoria</th>
            <th>Años de servicio</th>
            <th>Sueldo fijo Mensual($CL)</th>
            <th>Monto Bonificación años servicio </th>
            <th>Monto Pago Horas extras</th>
            <th>Monto Descuentos</th>
            <th>Sueldo bruto</th>
            <th>Cotización Previsional</th>
            <th>Cotización Salud</th>
            <th>Monto sueldo final</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="planill:${planilla}">
            <td th:text="${planill.nombres}"></td>
            <td th:text="${planill.apellidos}"></td>
            <td th:text="${planill.categoria}"></td>
            <td th:text="${planill.aniosServicios}"></td>
            <td th:text="${planill.sueldoFijoMensual}"></td>
            <td th:text="${planill.montoBonificacionAnios}"></td>
            <td th:text="${planill.montoHorasExtras}"></td>
            <td th:text="${planill.montodescuentos}"></td>
            <td th:text="${planill.montoBruto}"></td>
            <td th:text="${planill.montoProvisional}"></td>
            <td th:text="${planill.montoSalud}"></td>
            <td th:text="${planill.montoFinal}"></td>

        </tr>
        </tbody>
    </table>
</div>
<div class="container col">
    <a type="button" class="btn btn-primary btn-lg btn-block" href="/" style="margin: 10px">Volver</a>
</div>
</body>
</html>